@import "./_variables.scss";

.comment {
    display: flex;
    padding: 1rem 0.5rem;
    
    & + .comment {
    	border-top: 1px solid $border-color;
    }

}

.comment__user {
    flex: 0 0 auto;
    margin-right: 1rem;
    min-width: 90px;
}

.comment__body {
    flex: 1 1 auto;
}
