@import "./_variables.scss";

.issues {

}

.issue {
    word-wrap: break-word;  
}

.issue__number {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.3em;
}

.issue__title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.issue__summary {
    font-size: 0.8rem; 
    color: #333;
    font-family: "courier", monospace;
}


/* Issue List Item */
.issue.issue--list-item {

    border-bottom: 1px solid $border-color;
    padding: 1rem;
    
    .media-obj__left {
        min-width: 60px;

        @media screen and (min-width: 500px) {
            min-width: 90px;
        }
    }

    .issue__title,
    .issue__number {
        cursor: pointer;

        &:hover {
            color: $dimmed-text;
        }
    }
}

/* Issue Detail */
.issue.issue--detail {
    .page__body {
        padding: 1rem;
    }

    .issue__comments {
        animation: fadein $transition-duration;
        margin-top: 2rem; 
        padding: 1rem 0;
        border-top: 1px solid $border-color;
    }
}
