@import "./_variables.scss";

.loader {
    min-width: 56px;
    padding-top: 56px;
    background-image: url("../img/ajax.svg");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    box-sizing: border-box;
    color: $dimmed-text;
}


.page__loader {

    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-delay: 0ms;
}

.is-loading {

    .page__loader {
        opacity: 0.9;
        z-index: auto;

        // don't show the loader right away 
        // TODO this isn't working, why?
        transition-delay: 300ms; 
    }
}

        