.loader {
    min-width: 56px;
    padding-top: 56px;
    background-image: url("../img/ajax.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;

    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: opacity 500ms;
}
.is-loading {

    .loader {
        opacity: 1;
        z-index: auto;
    }
}

        